@model IEnumerable<ReservaEspectaculo.Models.Cliente>
@inject SignInManager<Persona> signInManager

@{
    ViewData["Title"] = "Clientes";
}

<h1>Clientes</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Agregar nuevo cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaAlta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dni)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaAlta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin") || User.IsInRole("Empleado"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a><span> | </span>
                        <a asp-action="Details" asp-route-id="@item.Id">Detalles</a><span> | </span>
                        <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                    }
                    @if (signInManager.IsSignedIn(User) && User.IsInRole("Cliente"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a><span> | </span>
                        <a asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
