@model ReservaEspectaculo.Models.Pelicula
@inject SignInManager<Persona> signInManager

@{
    ViewData["Title"] = "Details";
}

<h1>Detalle</h1>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaLanzamiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaLanzamiento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genero.Nombre)
        </dd>
    </dl>
</div>
<div>
    @if (signInManager.IsSignedIn(User) && !User.IsInRole("Cliente"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> <span> | </span>
    }
    <a asp-action="Index">Volver</a>
</div>
