@model IEnumerable<ReservaEspectaculo.Models.Pelicula>
@inject SignInManager<Persona> signInManager

@{
    ViewData["Title"] = "Index";
}

<h1>Peliculas</h1>

<p>
    @if (signInManager.IsSignedIn(User) && !User.IsInRole("Cliente"))
    {
        <a asp-action="Create" class="btn btn-primary">Nueva pelicula</a>
    }
    </p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero.Nombre)
            </td>
            <td>
                @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a><span> | </span>
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a><span> | </span>
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a><span> | </span>
                    <a asp-action="CrearFuncion" asp-route-id="@item.Id">Nueva Funcion</a>
                }
                @if (signInManager.IsSignedIn(User) && User.IsInRole("Empleado"))
                {
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a><span> | </span>
                    <a asp-action="CrearFuncion" asp-route-id="@item.Id">Nueva Funcion</a>
                }
                @if (signInManager.IsSignedIn(User) && User.IsInRole("Cliente"))
                {
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                }
                <span> | </span><a asp-controller="Funciones" asp-action="Index" asp-route-id="@item.Id">Ver Funciones</a>
            </td>
        </tr>
        }
    </tbody>
</table>
